{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Create a New Post {% endblock %}</h1>
    
	<form method="post">
	    <div class="form-group">
		    <label for="title">Title</label>
			<input type="text" name="title" placeholder="Post title" class="form-control" value="{{ request.form['title'] }}"></input>
		</div>
		
		<div class="form-group">
		    <label for="content">Content</label>
			<textarea name="content" placeholder="Post content" class="form-control">{{ request.form['content'] }}</textarea>
		</div>
		
		<div class="form-group">
		    <button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
{% endblock %}