{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>
    
	<form method="post">
	    <div class="form-group">
		    <label for="title">Title</label>
			<input type="text" name="title" placeholder="Post title" class="form-control" value="{{ request.form['title'] or post['title'] }}"></input>
		</div>
		
		<div class="form-group">
		    <label for="content">Content</label>
			<textarea name="content" placeholder="Post content" class="form-control">{{ request.form['content'] or post['content'] }}</textarea>
		</div>
		
		<div class="form-group">
		    <button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	<hr>
	
	<form action="{{ url_for('delete', id=post['id']) }}" method="POST">
	    <input type="submit" value="Delete Post" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this post ?')">
    </form>
{% endblock %}