{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['title'] }} {% endblock %}</h2>
	<span class="badge bagde-primary">{{ post['created'] }}</span>
	<p>{{ post['content'] }}</p>
{% endblock %}